# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv
venv/
ENV/
.ipynb_checkpoints/

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# Jupyter
*.ipynb_checkpoints

# Data / temp
outputs/
.cache/
